.container-era {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  padding: 50px 0;
  max-width: 1300px;
  margin: 0 auto;
}

.era-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 400px;
  text-align: center;
  overflow: hidden;
  padding: 20px;

}

.era-item__image {
  width: 100%;
  height: auto;
  max-width: 350px;

}
.era-item__title{
  text-decoration: underline;

}
.description-item__title {
  margin: 10px 0;
}

.era-content{
  width: auto;
  padding-bottom: 20px;
}




