.reviews-halls{
  background-image: url("/frontend/img/main-page/discount/back.svg");
}

.halls{
  display: flex;
  justify-content: center;
  align-items: center;
}

.halls__item{
  max-width: 1200px;
  padding: 40px 0;
}

.halls__item-link{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.halls__item-link img{
  max-width: 334px;
}

.question{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 20px;
}
.question__title{
  padding: 40px 0;
}
.question-item {
  display: flex;
  flex-direction: column;

}

.question-item__question {
}

.question-item__question-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.question-item__question-title {
  font-size: 20px;
  padding: 20px 0;
}

.plus {
  width: 19px;
  transition: transform 0.3s ease-in-out;
}

.question-item__question-answer {
  font-size: 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
  opacity: 0;
}

.question-item.open .question-item__question-answer {
  max-height: 500px; /* Достаточно большое значение, чтобы вместить текст */
  opacity: 1;
}

.separator-halls {
  width: 100%;
  padding: 30px 0;
}

.question-item.open .plus {
  transform: rotate(45deg);
}

.hall-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 40px 0;
}

.hall-images__item {
  max-width: 350px;
  padding-top: 20px;
}

.dislocation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 50px 0;
}

.dislocation__title {
}

.dislocation__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 500px;
  padding: 0 40px;
}
.button-accent__container{
  padding-top: 20px;
}
